@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 0 0 0;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 17px;
	background-color: #e6ffe6;
	color: #194d19;
	background-image: url(images/bullseye.png);
	background-attachment: fixed;
}

a:link {
	text-decoration: none;
	color: #194d19;
}

a:hover {
	text-decoration: underline;
	color: #0c4;
}

/*HEADER*/

header.container-fluid {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#header-nav {
	background-image: url(images/header_bg5.jpg);
	background-repeat: no-repeat;
	background-color: antiquewhite;
	border-radius: 0;
	border-bottom: 6px solid #194d19;
}

#logo {
	height: 120px;
	width: 120px;
	float: left;
}

.navbar-brand h1 {
	float: right;
	text-shadow: 1px 1px 1px gray;
	font-size: 40px;
	font-weight: bolder;
	margin: 0 0 0 0;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
	text-decoration: none;
	color: #194d19;
}

#nav-list a {
	font-size: 16px;
	color: #194d19;
	border: 2px solid #194d19;
	margin: 3px 3px 3px 3px;
	padding: 6px 10px;
	border-radius: 6px;
}

#nav-list a:hover,
#nav-list a:focus {
	text-decoration: underline;
	color: #0c4;
	border: 4px solid #0c4;
	box-shadow: 2px 2px 2px gray;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
	border: 1px solid #194d19;
}

.navbar-header button.navbar-toggle {
	margin: -30px 0 0 0;
	padding: 6px;
	clear: both;
}

.navbar-header .icon-bar {
	width: 15px;
}

h2 {
	font-size: 22px;
	font-weight: bolder;
	text-decoration: underline;
}

/***Time**/
#time {
	margin: 0;
	text-align: center;
	font-size: 1.5em;
	font-weight: bolder;
	font-style: italic;
}

/* Main Contents */

#intro {
	margin: 1em 0.5em;
	/* font-size: 22px; */
}

#panel {
	margin: 0.8em 0;
	text-align: center;
	font-size: 20px;
}

#panel a {
	margin: 0 0 0 0;
	color: #194d19;
	border: 3.9px solid #194d19;
	border-radius: 7px;
	padding: 9px 9px;
	box-shadow: 2px 2px 2px gray;
}

#panel a:hover {
	color: #38ad38;
	border-color: #38ad38;
	text-decoration: underline;
}

#monument {
	margin: 2em 0.5em;
}

#monument p {
	/* font-size: 22px; */
	clear: right;
}

#olokun {
	margin: 0 0 1em 1em;
	float: left;
	height: 200px;
}

#history {
	margin: 2em 0.5em;
}

#history ul {
	margin: 1em;
	list-style-type: none;
}

#history ul li {
	margin: 5px;
	padding: 5px;
	border: 1px solid #194d19;
	border-radius: 6px;
}

ul#library {
	margin: 1em;
	list-style-type: none;
}

ul#headlines {
	margin: 1em;
	list-style-type: none;
}

footer {
	background-color: #194d19;
	color: #e6ffe6;
	font-size: 16px;
}

footer ul {
	list-style-type: none;
}

footer ul li {
	margin: 5px;
}

#egba {
	width: 200px;
}

#info {
	padding: 1em 1em;
	display: flex;
	justify-content: space-between;
}

.social {
	margin: 0;
	height: 50px;
	width: 50px;
}

#copy {
	text-align: center;
}

/****NEWS SECTION***/
.news {
	width: 600px;
}

/****Today History Section****/
#grid {
	display: grid;
	grid-template-columns: 1000px 50px;
}

#left {
	grid-column-start: 1;
	grid-column-end: 2;
}

#grid ul {
	padding: 0 0 0 0;
}

#grid section {
	margin: 0 0 0 0.5em;
}

article {
	margin: 0 0.5em;
}

/********************* Small Devices************************* */

@media (min-width: 150px) and (max-width: 562px) {
	body {
		margin: 0 0 0 0;
	}

	.navbar-brand h1 {
		font-size: 30px;
		font-weight: bold;
		margin: 0 0 0 0;
	}

	header {
		position: sticky;
	}

	#time {
		font-size: 17px;
		margin: 0 0 1em 0;
		font-weight: bolder;
		font-style: italic;
	}

	h2 {
		font-size: 27px;
		text-align: left;
	}

	#olokun {
		width: 80px;
		height: 90px;
	}

	section ul li {
		font-size: 19px;
	}

	#panel {
		font-size: 20px;
		margin: 1em 0 1em 0;
	}

	ul#library {
		margin: 0 0 0 5px;
		list-style-type: none;
	}

	ul#headlines {
		margin: 0 5px;
		list-style-type: none;
	}

	audio {
		height: 32px;
	}

	p {
		font-size: 16px;
	}

	#collapsable-nav ul {
		flex-direction: column;
		margin: 2px 0 0 0;
	}

	#collapsable-nav ul a {
		display: block;
		text-align: center;
	}

	.news {
		width: 300px;
	}

	footer {
		background-color: #194d19;
		color: #e6ffe6;
		font-size: 16px;
	}

	footer ul {
		list-style-type: none;
	}

	footer ul li {
		margin: 5px;
	}

	#egba {
		width: 150px;
	}

	#info {
		padding: 5px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.social {
		margin: 0;
		height: 20px;
		width: 20px;
	}
}

/****************Medium Devices*****************/

@media (min-width: 563px) and (max-width: 1000px) {
	.news {
		width: 450px;
	}

	header {
		position: sticky;
	}

	.navbar-brand h1 {
		font-size: 35px;
		margin-top: -15px;
	}

	p {
		font-size: 20px;
	}

	#time {
		font-size: 22px;
		margin: 0 0 1em 0;
		font-weight: bolder;
		font-style: italic;
	}

	#collapsable-nav ul a {
		display: block;
		text-align: center;
		list-style-type: none;
	}

	ul#library {
		margin: 0 0 0 10px;
	}

	ul#headlines {
		margin: 0 5px;
		list-style-type: none;
	}

	audio {
		height: 40px;
	}

	footer {
		background-color: #194d19;
		color: #e6ffe6;
		font-size: 16px;
	}

	footer ul {
		list-style-type: none;
	}

	footer ul li {
		margin: 5px;
	}

	#egba {
		width: 100px;
	}

	#info {
		padding: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.social {
		margin: 0;
		height: 20px;
		width: 20px;
	}
}
